<div class="myApp" ng-app="myApp" ng-controller="todoCtrl">
    <h1 class="text-center">TODO LIST</h1>
    <div class="todo">
        <section class="todoWrapper">
            <form ng-submit="submitTask()">
                <input type="text" placeholder="Type your task here..." ng-model="newTask.text"/>
            </form>
            <div class="tasks">
                <div class="task" ng-repeat="task in Tasks track by $index" ng-if="Tasks.length !== 0">
                    <h3 ng-class="{'marked': task.marked}" ng-click="markTask(task)">{{task.text | capitalize }}</h3>
                    <div>
                        <i class="icon" ng-click="markTask(task)" ng-class="{'far fa-circle square': !task.marked, 'fas fa-check-circle markedSquare': task.marked}"></i>
                    </div>
                </div>
                <div class="lottieWrapper" ng-if="Tasks.length === 0">
                    <lottie-player src="https://assets1.lottiefiles.com/packages/lf20_tnrzlN.json"  background="transparent"  speed="1"  style="width: 300px; height: 300px;"  loop  autoplay></lottie-player>
                    <h2>NO ACTIVE TASKS</h2>
                </div>
            </div>
            <div class="buttons">
                <button class="button noselect" ng-if="Tasks.length !== 0 && someMarked()" ng-click="clearTasks()">
                    <span class="text">DELETE</span>
                    <span class="icon">
                        <svg viewBox="0 0 24 24" height="24" width="24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M24 20.188l-8.315-8.209 8.2-8.282-3.697-3.697-8.212 8.318-8.31-8.203-3.666 3.666 8.321 8.24-8.206 8.313 3.666 3.666 8.237-8.318 8.285 8.203z"></path>
                        </svg>
                    </span>
                </button>
                <button class="submit" ng-click="submitTask()">ADD</button>
            </div>
        </section>
    </div>
</div>
