<div class="myApp" ng-app="myApp" ng-controller="todoCtrl">
    <h1 class="text-center">TODO LIST</h1>
    <div class="todo">

        <iframe class="right-ad"
                src="https://rcm-eu.amazon-adsystem.com/e/cm?o=3&p=14&l=ur1&category=visakarte&banner=1ZMPACXZY9B7N9T1M982&f=ifr&linkID=c02a97032d2db0015e20bb1e7a32d7f9&t=durmex01-21&tracking_id=durmex01-21"
                width="160"
                height="600"
                scrolling="no"
                border="0"
                marginwidth="0"
                style="border:none;"
                frameborder="0">
        </iframe>

        <iframe class="left-ad"
                src="https://rcm-eu.amazon-adsystem.com/e/cm?o=3&p=14&l=ur1&category=amazon_business&banner=1QVV892GW0771WWJNK82&f=ifr&linkID=e2b2822aff5cbbc7ca7eb3987630c990&t=durmex01-21&tracking_id=durmex01-21"
                width="160"
                height="600"
                scrolling="no"
                border="0"
                marginwidth="0"
                style="border:none;"
                frameborder="0">
        </iframe>

        <iframe class="mobile-ad"
                src="https://rcm-eu.amazon-adsystem.com/e/cm?o=3&p=288&l=ur1&category=depets&banner=19S539Q2DRH12TAYD4R2&f=ifr&linkID=a5be2d39ea21b3d0e3b0ea1fc7867ee7&t=durmex01-21&tracking_id=durmex01-21"
                width="320"
                height="50"
                scrolling="no"
                border="0"
                marginwidth="0"
                style="border:none;"
                frameborder="0">
        </iframe>

        <section class="todoWrapper">
            <form ng-submit="submitTask()">
                <input type="text" placeholder="Type your task here..." ng-model="newTask.text"/>
            </form>
            <div class="tasks">
                <div class="task" ng-repeat="task in Tasks track by $index" ng-if="Tasks.length !== 0">
                    <h3 ng-class="{'marked': task.marked}" ng-click="markTask(task)">{{task.text | capitalize }}</h3>
                    <div>
                        <i class="icon" ng-click="markTask(task)" ng-class="{'far fa-circle square': !task.marked, 'fas fa-check-circle markedSquare': task.marked}"></i>
                    </div>
                </div>
                <div class="lottieWrapper" ng-if="Tasks.length === 0">
                    <lottie-player src="https://assets1.lottiefiles.com/packages/lf20_tnrzlN.json"  background="transparent"  speed="1"  style="width: 300px; height: 300px;"  loop  autoplay></lottie-player>
                    <h2>NO ACTIVE TASKS</h2>
                </div>
            </div>
            <div class="buttons">
                <button class="button noselect" ng-if="Tasks.length !== 0 && someMarked()" ng-click="clearTasks()">
                    <span class="text">DELETE</span>
                    <span class="icon">
                        <svg viewBox="0 0 24 24" height="24" width="24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M24 20.188l-8.315-8.209 8.2-8.282-3.697-3.697-8.212 8.318-8.31-8.203-3.666 3.666 8.321 8.24-8.206 8.313 3.666 3.666 8.237-8.318 8.285 8.203z"></path>
                        </svg>
                    </span>
                </button>
                <button class="submit" ng-click="submitTask()">ADD</button>
            </div>
        </section>
    </div>
</div>
